body{
  background-image: url(../images/FF_sprites.png);
  background-attachment: fixed;
}
.jumbotron h1{
  text-align: center;
}
.navbar-fixed-top {
  border: 0;
}
.like{
  border: solid 3px #011F36;
  background-color: white;
  border-radius: 35px
}
#serie{
  height: auto;
  overflow: auto;
}
#img-cron{
  float: left;
  display: none;
}
p{
  text-align: justify;
}
.main{
  background-color: #0A6EBB;
  color: black;
}
main{
  border: solid 3px #011F36;
  background-color: white;
}
footer{
  background-color: #82e1fa;
  text-align: right;
}
.sidebar {
  position: fixed;
  border: solid 1px #82e1fa;

}
