body{
  background-image: url(../images/FF_sprites.png);
  background-attachment: fixed;
}
.jumbotron h1{
  text-align: center;
}
.navbar-fixed-top {
  border: 0;
}
/*.jumbotron{
  background-image: url(../images/FF_logo.png);
  background-size: cover;
}*/

main{
  border: solid 1px #82ada4;
  background-color: white;

}
